/*body.modal-open {
    -webkit-overflow-scrolling: touch;
    position: fixed;
    overflow:hidden;
}*/


.ng-cloak { display:none !important; }
 #content { margin-top:20px; }

.box {
    margin-top:-20px;
}

#bar-chart {
    float:right;
    margin-left:40px;
}

h1 {
	font-size:xx-large;
}

.bigger { font-size:13px; }

.p1 {
	background-color:#c00 !important;
}

.p2 {
	background-color:#0c0 !important;
}

.p3 {
	background-color:#0cc !important;
}

.c1 {
	color:#c00 !important;
}

.c2 {
	color:#0c0 !important;
}

.c3 {
	color:#0cc !important;
}

.panel-with-padding {
	padding:10px;
}


.device-container {}

.device input[type="checkbox"] {
	width:18px;
	height:18px;
	margin-right: 5px;
	margin-left: 5px;
}
.device .label.disabled {
	opacity:0.3;
	color:rgba(0,0,0,0);
}

.device .range-container {
	display:flex;
	margin-top:5px;
	margin-bottom:0px;
	margin-left:10px;
}
.device .font-smaller { font-size:small; }
.device .range-container .left { padding-right:10px; margin-top:5px;}
.device .range-container .right { padding-left:10px; margin-top:5px;}
.device .range-container input[type="range"] {
	max-width:85%;
}
.device .range-container input[type="range"][disabled="disabled"] {
	opacity:.5;
}

.phase h3, .phase h4 {
	text-align: center;
}

.text-small { 
	font-size:small;
}
.form-group .alert {
	line-height:31px;
}
.btn.pull-right+.btn.pull-right {
	margin-right:10px;
}

.bg-gray {
	background-color:#fcfcfc;
}


/*------------------------------------------------*/
/* Switch SECTION START*/
/*------------------------------------------------*/
.switch {
	position: relative;
	display: inline-block;
	font-weight: bold;
	color: #ccc;
	text-shadow: 0px 1px 1px rgba(255,255,255,0.8);
	height: 30px;
	width:100%;
	padding: 6px 6px 5px 6px;
	border: 1px solid #ccc;
	border: 1px solid rgba(0,0,0,0.2);
	border-radius: 4px;
	background: #ececec;
	box-shadow: 0px 0px 4px rgba(0,0,0,0.1), inset 0px 1px 3px 0px rgba(0,0,0,0.1);
	cursor: pointer;
}

.switch span { display: inline-block; width: 48%; }
.switch span.on { color: #00c; text-align: center;}
.switch span.off { text-align: center; color:red; }
.switch .toggle {
	position: absolute;
	top: 1px;
	width: 50%;
	height: 25px;
	border: 1px solid #ccc;
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 4px;
	background: #a7bfe5;
	background: linear-gradient(top,  #ececec 0%,#ffffff 100%);
	box-shadow: inset 0px 1px 0px 0px rgba(255,255,255,0.5);
	z-index: 999;
	transition: all 0.15s ease-in-out;
}

.switch.on .toggle { left: 1%; }
.switch.off .toggle { left: 50%; }


/* Round Switch */
.switch.round {
padding: 0px 20px;
border-radius: 40px;
}
.switch.round .toggle {
border-radius: 40px;
width: 14px;
height: 14px;
}
.switch.round.on .toggle { left: 3%; background: #33d2da; }
.switch.round.off .toggle { left: 58%; }

.switch.disabled {
	opacity:.5;
}




.margin-top-large { margin-top:20px; }
.margin-top-medium { margin-top:10px; }
.margin-top-small { margin-top:5px; }
.margin-top-none { margin-top:0px; }

.margin-bottom-large { margin-bottom:20px; }
.margin-bottom-medium { margin-bottom:10px; }
.margin-bottom-small { margin-bottom:5px; }
.margin-bottom-none { margin-bottom:0px; }

.margin-left-large { margin-left:20px; }
.margin-left-medium { margin-left:10px; }
.margin-left-small { margin-left:5px; }
.margin-left-none { margin-left:0px; }

.margin-right-large { margin-right:20px; }
.margin-right-medium { margin-right:10px; }
.margin-right-small { margin-right:5px; }
.margin-right-none { margin-right:0px; }


.padding-top-large { padding-top:20px; }
.padding-top-medium { padding-top:10px; }
.padding-top-small { padding-top:5px; }
.padding-top-none { padding-top:0px; }

.padding-bottom-large { padding-bottom:20px; }
.padding-bottom-medium { padding-bottom:10px; }
.padding-bottom-small { padding-bottom:5px; }
.padding-bottom-none { padding-bottom:0px; }

.padding-left-large { padding-left:20px; }
.padding-left-medium { padding-left:10px; }
.padding-left-small { padding-left:5px; }
.padding-left-none { padding-left:0px; }

.padding-right-large { padding-right:20px; }
.padding-right-medium { padding-right:10px; }
.padding-right-small { padding-right:5px; }
.padding-right-none { padding-right:0px; }



.glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}