<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><i class="glyphicon glyphicon-flash"></i> Spořík <small>{{version}}</small> &nbsp;</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="xactive"><a href="/">Raspi</a></li>
        <li class="xactive"><a href="/elmer/www/">Elměr</a></li>
      </ul>
      <p class="navbar-text text-center">
      </p>
      <p class="navbar-text navbar-right margin-top-medium margin-bottom-small">
        <button class="btn btn-default btn-sm" ng-click="main.showElmerGraph = !main.showElmerGraph" ng-class="{'active': main.showElmerGraph }"><i class="glyphicon glyphicon-stats"></i></button>
      </p>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Nastavení <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="" ng-click="addNewDevice()">Přidat nové zařízení</a></li>
            <li><a href="" ng-click="restartServer()">Restart serveru</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="" ng-click="showAbout()">O programu</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>