<div class="modal" ng-init="options = { showAdvanced: false, showAutorunOptions: device.autorun }">
	<div class="modal-dialog" role="document">
		<form class="modal-content" name="editForm">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Nastavení zařízení</h4>
			</div>
			<div class="modal-body form-group-lg">
				<div class="form-group">
					<label>Adresa zařízení</label>
					<input type="text" ng-model="device.address" class="form-control disabled" ng-disabled="!isCreatingNew" ng-required="required">
				</div>
				<div class="form-group">
					<label>Název zařízení</label>
					<input type="text" ng-model="device.alias" class="form-control" placeholder="např. Bojler" ng-required="required">
				</div>
				<div class="form-group">
					<label>Krátký popis</label>
					<input type="text" ng-model="device.description" class="form-control" placeholder="např. Bojler v technické místnosti, 200l">
				</div>
				<!-- <div class="form-group">
					<label>Priorita</label>
					<small>Vyšší číslo znamená vyšší prioritu. Výchozí je 0.</small>
					<input type="number" ng-model="device.priority" class="form-control" placeholder="-100">
				</div> -->
				<div class="panel panel-default">
					<div class="panel-heading">Režim funkce zařízení</div>
					<div class="panel-body">
						<div class="form-group">
							<label class="radio-inline"><input type="radio" ng-model="device.autorun" ng-value="0">Ručně</label>
							<label class="radio-inline"><input type="radio" ng-model="device.autorun" ng-value="1">Automaticky</label>
							<p class="text-info margin-top-medium" ng-if="device.autorun == 0">
								Zařízení je spínáno dle libosti uživatelem.
							</p>
							<p class="text-success margin-top-medium" ng-if="device.autorun == 1">
								Zařízení je spínáno automaticky dle toho, jak je nastavena hodnota regulace. 
								Jakmile existuje přetok energie na měřícím bodě, zařízení je spínáno tak, aby 
								energie do a ze sítě byla co nejmenší.
							</p>
						</div>
						<div class="form-group" ng-if="device.autorun">
							<p>Zadejte hodnotu regulace ve Wattech. Na tuto hodnotu bude regulována celková spotřeba na měřícím bodě. Výchozí hodnota je 0.</p>
							<input type="number" ng-model="device.autorun_max" class="form-control">
						</div>
					</div>
				</div>
				<div class="panel panel-danger bg-warning">
					<div class="panel-heading">
						<span class="glyphicon glyphicon-chevron-down" ng-if="!options.showAdvanced"></span>
						<span class="glyphicon glyphicon-chevron-up" ng-if="options.showAdvanced"></span>
						<a ng-click="options.showAdvanced=!options.showAdvanced" href="" class="text-danger">Pokročilé nastavení</a></div>
					<div class="panel-body" ng-show="options.showAdvanced">
						<p class="text-danger">Pozor! Změna těchto nastavení může způsobit nesprávnou funkčnost zařízení. Měli byste vědět, co děláte.</p>
						<div class="form-group">
							<label>Fáze, na kterou je zařízení připojeno</label>
							<div>
								<label class="radio-inline"><input type="radio" ng-model="device.phase" ng-value="1"><span class="label label-bigger p1">L1</span></label>
								<label class="radio-inline"><input type="radio" ng-model="device.phase" ng-value="2"><span class="label label-bigger p2">L2</span></label>
								<label class="radio-inline"><input type="radio" ng-model="device.phase" ng-value="3"><span class="label label-bigger p3">L3</span></label>
							</div>
						</div>
						<div class="form-group margin-top-large">
							<label>Spínaný výkon (W)</label>
							<input type="number" ng-model="device.max_consumption" class="form-control" style="width:auto;">
						</div>
						<div class="form-group">
							<label>Typ spínání</label>
							<div>
								<label class="radio-inline"><input type="radio" ng-model="device.is_linear" ng-value="0"><span class="label label-success label-bigger ">⎍</span> zapnuto/vypnuto </label>
								<label class="radio-inline"><input type="radio" ng-model="device.is_linear" ng-value="1"><span class="label label-info label-bigger ">∿</span> plynulé </label>
							</div>
							<p class="text-success margin-top-medium" ng-if="device.is_linear == 0">
								Zařízení je spínáno přes relé, tedy pouze ve dvou stavech (vypnuto/zapnuto).
							</p>
							<p class="text-info margin-top-medium" ng-if="device.is_linear == 1">
								Zařízení je plynule regulováno přes triak v rozsahu 0 - 100%. 
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-link pull-left" ng-click="close(false)" data-dismiss="modal">Zrušit</button>
				<button type="submit" class="btn btn-primary" ng-click="close(device)" data-dismiss="modal">Uložit</button>
			</div>
		</form>
	</div>
</div>