<div ng-if="devices.length == 0" class="alert alert-warning col-md-6 col-md-offset-3">
    Žádné zařízení není připojeno
    <button class="btn btn-outline btn-warning pull-right" ng-click="main.load()">Obnovit</button>
</div>
<div class="device-container container" ng-init="">
	<div class="phases-container">
		<div ng-repeat="phase in [1,2,3]" class="phase col-md-4 clearfix" ng-class="'phase' + phase">
			<h4 title="L{{ phase }}" ng-class="{ 'text-danger': main.elmer['p' + phase] < -1000, 'text-warning': main.elmer['p' + phase] > -1000 && main.elmer['p' + phase] < -200, 'text-primary': main.elmer['p' + phase] >= -200 && main.elmer['p' + phase] < -50, 'text-success': main.elmer['p' + phase] >= -50 }">{{ main.elmer['p' + phase] }} W</h4>
			<div ng-repeat="item in devices track by item.address" ng-if="item.phase == phase" device="item"></div>
		</div>
	</div>
</div>