<h4><label>{{ device.alias }}</label> <small>({{ device.description }})</small></h4>
<input type="range" min="1" max="8499" ng-model="device.regulation" ng-change="regulate()" ng-model-options="{debounce:200}" />
<br>
<!-- Aktuální spotřeba: <label>{{ device.measurement }}W</label> -->
<device-chart data="device.measurement"></device-chart>
<div class="clearfix">
	<label>{{ device.measurement }} W</label>
	<button ng-click="toggle()" class="btn pull-right btn-sm" ng-class="{ 'btn-primary': !isOn(), 'btn-success': isOn() }">
		{{ (isOn() ? 'Vypnout' : 'Zapnout')}}
		<span ng-show="state.isToggling">...</span>
	</button>
</div>